body {
  font-family: Arial, sans-serif;
  background: #f2f6fb;
  margin: 0;
  padding: 20px;
}
.head{
    margin-top: 30px;
    color:#1e40af;
    text-align: center;
}
.header {
  display: flex;
  background: #ffffff;
  padding-top: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  justify-content: space-between;
  position:fixed;
  width:100%;
  margin: 0px;
}
.logo-text h2 {
  margin: 0;
  color: #1e40af;
}
.container {
  max-width: 880px;
  margin: auto;
}

.steps {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.step {
  width: 50px;
  height: 40px;
  background: #e5eaf7;
  border-radius: 50%;
  padding-top: 40px;

}
.wordsteps{
    display:flex;
    justify-content: center;
    justify-content: space-between;
}
.step{
  background: #1e40af;;
  color: #fff;
  text-align: center;
  padding-top:20px;
  font-size: 20px;
}

.line {
  width: 160px;
  height: 4px;
  background: #1e40af;;
}

.title {
  color: #1e40af;;
}

.alert-success {
  background: #d7ffdb;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #0a732e;
}

.card {
  background: #f4f8ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}
.subcontainer{
  background: whitesmoke;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}
.section-title {
  margin-bottom: 15px;
  color:#1e40af;;
}
.word{
  color:#1e40af;;
  font-weight: bold;  
}

.info-grid, .summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.card1{
    background: #dbe8ff;
}
.course {
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  background: #dbe8ff;
}

.course-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.badge {
  background: #2563eb;
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.warning {
  background: #faf4d8;
  border-left: 5px solid #fbbf24;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-btn {
  background: #d1d5db;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

.confirm-btn {
  background: #22c55e;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  color: #fff;
}
ul{
    color:#6b6130;
}
footer {
  margin-top: 40px;
  padding: 20px;
  color: #4b5563;
  font-size: 14px;
  display:flex;
  justify-content: space-between;
}

.home{
    padding: 15px 20px;
    background: whitesmoke;
    border:none;
    padding: 10px 20px;
}
