body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2ff;
}

/* HEADER */
.header {
    background: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8e0f5;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 55px;
}

.header h2 {
    margin: 0;
    font-size: 20px;
}

.header p {
    margin: 0;
    font-size: 13px;
    color: #5570a3;
}

.back-btn {
    background: #f2f3f8;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid #d0d7e6;
}

/* SUCCESS CARD */
.success-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.success-card {
    width: 60%;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    text-align: center;
}

/* Success Icon */
.icon-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #e3f9e8;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    font-size: 40px;
    color: #24b45a;
    font-weight: bold;
}

/* Text */
.success-title {
    margin-top: 20px;
    color: #24b45a;
}

.desc {
    margin-top: 8px;
    color: #444;
}

/* Registration Box */
.reg-box {
    background: #e8f0ff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
    border-left: 4px solid #6495ff;
}

.reg-box p {
    margin: 0;
    color: #555;
}

.reg-number {
    margin: 10px 0;
    color: #003bb3;
}

.reg-box small {
    color: #555;
}

/* Buttons */
.btn-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.download-btn {
    padding: 12px 25px;
    border-radius: 10px;
    background: #060b25;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.new-btn {
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    background: white;
    border: 1px solid #c2c8d8;
    font-weight: bold;
    color: black;
}

/* FOOTER */
.footer {
    margin-top: 50px;
    padding: 20px 50px;
    border-top: 1px solid #dce3f7;
    color: #5b6b85;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #1b4dd8;
}
