body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f5f7fb;
    color: #333;
}

/* HEADER */
.top-header {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.page-title{
  text-align: center;
}

.title-box h2 {
    margin: 0;
    font-size: 20px;
    color: #003366;
}

.back-btn {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    color: #444;
    font-size: 14px;
}

/* STEP INDICATOR */
.steps-container {
    margin: 30px auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step {
    text-align: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.circle.active {
    background: #007bff;
    color: white;
}

.line {
    flex-grow: 1;
    height: 2px;
    background: #007bff55;
    margin: 0 10px;
}

/* REVIEW CARD */
.review-card {
    width: 85%;
    background: white;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 6px #d3d3d3;
}

.section-box {
    background: #f8f9ff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 600;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

.blue { background: #007bff; }
.green { background: #28a745; }
.purple { background: #8a2be2; }
.orange { background: #ff7b00; }

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.doc-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.status {
    background: #eee;
    padding: 4px 10px;
    border-radius: 6px;
}

/* DECLARATION */
.declaration-box {
    background: #eaf3ff;
    border-left: 4px solid #007bff;
    padding: 15px;
    border-radius: 6px;
    margin-top: 10px;
}

/* BUTTONS */
.btn-row {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.back-btn2 {
    text-decoration: none;
    background: #eee;
    padding: 8px 20px;
    border-radius: 6px;
    color: #333;
}

.submit-btn {
    text-decoration: none;
    background: #00b140;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}
