.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95vw;
  aspect-ratio: 1/1;
  max-width: 50rem;
  justify-self: center;
  font-size: 25px;
  margin-top: 1rem;
  background: snow;
  padding: 1rem;
  border: 6px solid darkgreen;
  border-radius: 5%;
}

.multipliers {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: 100%;
}

.multiplierItem {
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  user-select: none;
  color: white;
  background: darkgreen;
  border-radius: 50%;
  transition: scale 0.1s ease;
  transition: transform 0.9s ease;
}

.multiplierFront {
  transform: rotateY(0deg);
  width: 100%;
  align-content: center;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
}

.multiplierBack {
  transform: rotateY(180deg);
  align-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
}


.multiplierItem:active {
  scale: 0.95;
  transform: rotate3d(0, 1, 0, 180deg);
}


.back {
  background: var(--back);
}

@media (max-width: 1920px) {
  .container {
    max-width: 35rem;
  }
}

@media (max-width: 800px) {
  .container {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .container {
    font-size: 16px;
  }
}
