.container {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 1rem;
  font-size: 20px;
  background: gold;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

@keyframes coinSpin {
  100% {
    transform: rotate3d(0, 0.1, 0, 360deg)
  }
}

.container .middlebutton {
  position: absolute;
  width: 30vw;
  aspect-ratio: 1/1;
  max-width: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  border-radius: 50%;
  border: solid 2px black;
  background: gold;
  z-index: 10;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.72);
  transition: transform ease 0.2s;
}

/*.middlebutton:hover {*/
/*  transform: scale(1.05);*/
/*}*/
.middlebutton:active {
  transform: scale(0.96);
}

.arrow {
  z-index: 11;
  position: absolute;
  top: 1px;
  width: 3rem;
  height: 3rem;
  background: gold;
  clip-path: polygon(33% 0, 48% 50%, 66% 0);
}

.wheel {
  width: 95vw;
  max-width: 50rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid gold;
  position: relative;
  will-change: transform, clip-path;
  transition: transform 4s cubic-bezier(0.2, -.17, 0, 1.03);
}

.bonusSector {
  position: absolute;
  font-family: 'rye';
  width: 100%;
  height: 100%;
  left: -47.5%;
  top: 2%;
  transform: rotate(90deg);
  text-align: start;
  font-size: 1em;
  line-height: 2;
}

.sector {
  position: absolute;
  color: white;
  font-family: 'rye';
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1em;
  line-height: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1920px) {
  .container {
    font-size: 18px;
  }
  .bonusSector {
    left: -46.5%;
  }

  .wheel {
    max-width: 35rem;
  }
}

@media (max-width: 992px) {
  .container {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: 10px;
  }

  .arrow {
    height: 1.25rem;
  }

  .bonusSector {
    left: -47.5%;
  }
}
