.container {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 1rem;
  font-size: 30px;
  background: #b61c00;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.container .middlebutton {
  position: absolute;
  width: 34vw;
  aspect-ratio: 1/1;
  max-width: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: black; 
  text-transform: uppercase;
  border-radius: 50%;
  border: solid 2px gold;
  color: gold;
  background: #b61c00;
  z-index: 10;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.72);
  transition: transform ease 0.2s;
}

.middlebutton:hover {
  transform: scale(1.05);
}

.arrow {
  z-index: 11;
  position: absolute;
  top: 1px;
  width: 3rem;
  height: 3rem;
  background:#b61c00;
  clip-path: polygon(33% 0, 48% 50%, 66% 0);
}

.wheel {
  width: 95vw;
  max-width: 50rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid #b61c00;
  position: relative;
  display: inline-block;
  will-change: transform, clip-path;
  transition: transform 2s cubic-bezier(0.2,-.17,0,1.03);
}

.label {
  text-orientation:upright;
  rotate: 90deg;
  transform: translateY(48%);
  letter-spacing: -0.3em;
  transition: transform linear 1s;
}


.sector {
  writing-mode: vertical-rl;
  position: absolute;
  color: white;
  font-family: 'rye';
  width: 100%;
  height: 100%;
  text-align: start;
}

@keyframes spin {
  0% {
  transform: rotate(0deg);
}
  100% {
  transform: rotate(360deg);
}
}

@media (max-width: 1920px) {
  .container {
    font-size: 20px;
  }
  .wheel {
    max-width: 35rem;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: 3.5vw;
  }

  .arrow {
    height: 1.25rem;
  }
}
