.container {
  width: 95%;
  aspect-ratio: 1/1;
  max-width: 50rem;
  justify-self: center;
  margin-top: 1rem;
  position: relative;
}

.container canvas {
  width: 100%;
  height: auto;
}

.multipliers {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 3%;
  gap: 2%;
  margin-top: -6.5%;
  width: 100%;
  user-select: none;
}

@media (max-width: 1920px) {
  .container {
    max-width: 35rem;
  }
}

@media (max-width: 800px) {
  .multipliers {
    font-size: 2vw;
  }
}
